<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Central Assignment">
<listeners>
        <listener class-name="com.oleti.utils.listeners.TestListener"/>
        <listener class-name="com.oleti.utils.listeners.AnnotationTransformer"/>
    </listeners>
  <test  name="AddToCart">
    <classes>
      <class name="com.oleti.tests.CheckOutCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
